<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1 id="naslov" style="text-align: center; font-family: Comfortaa; margin: 1%; font-size:500%;">MAVENS</h1>
    <h2 id="naslov" style="text-align: center; font-family: Comfortaa; margin: 1%; font-size:500%;">analiza</h2>

    <div align="center">
        <canvas id="canvas" 
            style="border: 0px solid; background-color: #EFEDED; "></canvas>
    </div>
</body>
<script>

    async function prenosPodatkov() {
        return await fetch(`${window.origin}/podatki`)
            .then(response => response.json()).then(response => izrisovanje(response));
    }
    function zagon() {
        prenosPodatkov()
    }
    setInterval(zagon, 1000)

    function izrisovanje(podatki) {
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var visina = window.outerHeight * 0.7;
        console.log("visina"+visina)
        var sirina = window.outerWidth * 0.9;
        canvas.style.width = sirina;
        canvas.style.height = visina;
        var r = visina * 0.15;
        var stObjektov = Object.keys(podatki).length;
        var xPremik = sirina / 2;
        var yPremik = visina / 2;
        for (var i = 0; i < stObjektov; i++) {
            console.log(podatki[i]["type"])
            if (podatki[i]["type"] == 0) {
                xPremik -= podatki[i]["x"];
                yPremik -= podatki[i]["y"];
            }
        }

        for (var i = 0; i < stObjektov; i++) {
            var objekt = Object.keys(podatki)[i];
            var balincek = [podatki[objekt]["x"] + xPremik, podatki[objekt]["y"] + yPremik, podatki[objekt]["barva"], podatki[objekt]["type"]];
            risiKrog(balincek, r,ctx,canvas);
        }
    }

    function risiKrog(podatki, r,ctx,canvas) {

        ctx.beginPath();
        if (podatki[3] == 0) ctx.arc(sirina / 2, visina / 2, r / 2, 0, 2 * Math.PI); else
        ctx.arc(podatki[0], podatki[1], r, 0, 2 * Math.PI);
        ctx.fillStyle = podatki[2];
        ctx.fill();
        ctx.lineWidth = r / 10;
        ctx.strokeStyle = 'white';
        ctx.stroke();
    }

</script>

</html>